.navbar{
  min-width: 270px;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: black;
}

.nav-title{
  color: rgb(0, 255, 115);
  display: flex;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.nav-title:hover{
  color:red;

}
.nav-menu{
  color: rgb(255, 94, 0);
  display: flex;
  
}
.menu{
  margin-left: 5px;
  margin-right: 5px;
}
.nav-social{
  display: flex;
  margin-right: 20px;
  
}
.nav-fold{
  position: absolute;
  right: 32px;
  display: none;
  background-color: black;
  border: none;
  
}
.nav-icon{
  font-size: 2em;
  color :gray;
}
@media screen and (max-width:768px){
  .navbar{
    flex-direction: column;
  }

  .nav-fold{
    display: block;
  }

  .nav-menu{
    display: none;
     
  }
 
  .nav-social{
    display: none;    
}

  .active{
  display: block;
  
  
  
}
}
.intro-box{
  padding-top: 120px;
  margin-left:20%;
  margin-right: 20%;
  display: flex;
  align-items: center;
}

.intro-photo{
  width: 150px;
  height: auto;
  border-radius: 20%;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
}
.intro-padding{
  padding-top: 120px;
}
.text-center{
  text-align: center;
}
.intro-photo:hover{
  scale: 1.2;
}
.introduction{
  width:500px;
  color:antiquewhite;
}